.u-section-1 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("images/boruto-naruto-next-generations-cover.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 391px 219px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 119px;
    margin-right: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }
}
.u-section-2 .u-sheet-1 {
  min-height: 320px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 200px;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 28px 0 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}
.u-section-3 .u-sheet-1 {
  min-height: 730px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 70px 0;
}

.u-section-3 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/the-god-of-high-school-cover1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 495px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 379px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-image-1 {
    min-height: 569px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-3 .u-image-1 {
    min-height: 358px;
  }
}
.u-section-4 .u-sheet-1 {
  min-height: 757px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 26px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 235px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 29px 20px 30px;
}

.u-section-4 .u-text-1 {
  margin: 39px 1px 0;
}

.u-section-4 .u-image-1 {
  min-height: 470px;
  background-image: url("images/re-zero-kara-hajimeru-isekai-seikatsu-2nd-season-cover1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-image-2 {
  min-height: 470px;
  background-image: url("images/sentouin-hakenshimasu-thumbnail-1617551463.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 235px;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-text-2 {
  margin: 2px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 235px;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-image-3 {
  min-height: 470px;
  background-image: url("images/thu-tich-ngu-linh-su-thumbnail.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px;
}

.u-section-4 .u-image-4 {
  min-height: 470px;
  background-image: url("images/tokyo-revengers-thumbnail-1617192229.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px;
}

.u-section-4 .u-layout-cell-8 {
  min-height: 235px;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-4 .u-text-4 {
  margin: 52px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 194px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 388px;
  }

  .u-section-4 .u-image-2 {
    min-height: 388px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 194px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 194px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-image-3 {
    min-height: 388px;
  }

  .u-section-4 .u-image-4 {
    min-height: 388px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 194px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 29px;
  }

  .u-section-4 .u-image-1 {
    min-height: 594px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 594px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    min-height: 594px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    min-height: 594px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    min-height: 891px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 891px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 891px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 891px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 561px;
  }

  .u-section-4 .u-image-2 {
    min-height: 561px;
  }

  .u-section-4 .u-image-3 {
    min-height: 561px;
  }

  .u-section-4 .u-image-4 {
    min-height: 561px;
  }
}
.u-section-5 .u-sheet-1 {
  min-height: 600px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 610px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("images/van-gioi-than-chu-thumbnail.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-image-2 {
  min-height: 610px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("images/vo-thuong-than-de-thumbnail-1621833775.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 503px;
  }

  .u-section-5 .u-image-2 {
    min-height: 503px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    min-height: 385px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 385px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-image-1 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 578px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    min-height: 364px;
  }

  .u-section-5 .u-image-2 {
    min-height: 364px;
  }
}
.u-section-6 .u-sheet-1 {
  min-height: 1060px;
}

.u-section-6 .u-group-1 {
  min-height: 134px;
  width: 800px;
  margin: 98px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-6 .u-text-1 {
  margin: 5px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 9px 0 130px;
}

.u-section-6 .u-image-1 {
  min-height: 247px;
  order: 0;
  background-image: url("images/vlad-love-thumbnail.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 247px;
  order: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-6 .u-text-2 {
  margin: 0;
}

.u-section-6 .u-image-2 {
  min-height: 247px;
  order: 0;
  background-image: url("images/boruto-naruto-next-generations-cover1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 247px;
  order: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-6 .u-text-3 {
  margin: 0;
}

.u-section-6 .u-layout-cell-5 {
  min-height: 247px;
  order: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-6 .u-text-4 {
  margin: 58px 0 0;
}

.u-section-6 .u-image-3 {
  min-height: 247px;
  order: 0;
  background-image: url("images/sentouin-hakenshimasu-thumbnail-1617551463.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-7 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 247px;
  order: 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-6 .u-text-5 {
  margin: 8px 0 0;
}

.u-section-6 .u-image-4 {
  min-height: 247px;
  order: 0;
  background-image: url("images/tokyo-revengers-thumbnail-1617192229.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-9 {
  padding: 20px;
}

.u-section-6 .u-image-5 {
  min-height: 247px;
  order: 0;
  background-image: url("images/tan-thoi-minh-nguyet-phan-6-thuong-hai-hoanh-luu-cover1.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-10 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-10 {
  min-height: 247px;
  order: 0;
}

.u-section-6 .u-container-layout-11 {
  padding: 20px 30px;
}

.u-section-6 .u-text-6 {
  margin: 45px 0 0;
}

.u-section-6 .u-image-6 {
  min-height: 247px;
  order: 0;
  background-image: url("images/yuukoku-no-moriarty-2nd-cour-thumbnail-1617551699.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-12 {
  padding: 20px;
}

.u-section-6 .u-layout-cell-12 {
  min-height: 247px;
  order: 0;
}

.u-section-6 .u-container-layout-13 {
  padding: 20px 30px;
}

.u-section-6 .u-text-7 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-6 .u-group-1 {
    width: 660px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 505px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    order: 3;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-4 {
    order: 2;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-7 {
    order: 2;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-4 {
    order: 3;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-10 {
    order: 1;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-6 {
    order: 3;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-12 {
    order: 2;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 474px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    order: 2;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    order: 2;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-6 {
    order: 2;
  }

  .u-section-6 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-12 {
    order: 3;
  }

  .u-section-6 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }
}
.u-section-7 .u-sheet-1 {
  min-height: 683px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-7 .u-image-1 {
  min-height: 231px;
  order: 0;
  background-image: url("images/the-gioi-hoan-my-cover1.gif");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 231px;
  order: 0;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-image-2 {
  min-height: 231px;
  order: 0;
  background-image: url("images/vu-dong-can-khon-cover-15943222391.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 231px;
  order: 0;
}

.u-section-7 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-2 {
  margin: 0;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 231px;
  order: 0;
}

.u-section-7 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-3 {
  margin: 0;
}

.u-section-7 .u-image-3 {
  min-height: 231px;
  order: 0;
  background-image: url("images/seven-knights-revolution-eiyuu-no-keishousha-thumbnail-1617556283.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-6 {
  padding: 20px;
}

.u-section-7 .u-layout-cell-7 {
  min-height: 231px;
  order: 0;
}

.u-section-7 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-4 {
  margin: 0;
}

.u-section-7 .u-image-4 {
  min-height: 231px;
  order: 0;
  background-image: url("images/nhat-niem-vinh-hang-cover1.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-container-layout-8 {
  padding: 20px;
}

.u-section-7 .u-layout-cell-9 {
  min-height: 231px;
  order: 0;
}

.u-section-7 .u-container-layout-9 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-7 .u-text-5 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    min-height: 190px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 190px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-image-2 {
    min-height: 190px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 190px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 190px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-image-3 {
    min-height: 190px;
  }

  .u-section-7 .u-layout-cell-7 {
    min-height: 190px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-7 .u-image-4 {
    min-height: 190px;
  }

  .u-section-7 .u-layout-cell-9 {
    min-height: 190px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-7 .u-image-1 {
    min-height: 291px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    order: 1;
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-2 {
    order: 3;
    min-height: 291px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-4 {
    order: 2;
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-5 {
    order: 1;
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-3 {
    min-height: 291px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-7 {
    order: 2;
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-image-4 {
    order: 3;
    min-height: 291px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-9 {
    order: 2;
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 2234px;
  }

  .u-section-7 .u-image-1 {
    min-height: 437px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    order: 2;
    min-height: 437px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    min-height: 437px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    order: 2;
    min-height: 437px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-9 {
    order: 3;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-7 .u-image-1 {
    min-height: 275px;
  }

  .u-section-7 .u-image-2 {
    min-height: 275px;
  }

  .u-section-7 .u-image-3 {
    min-height: 275px;
  }

  .u-section-7 .u-image-4 {
    min-height: 275px;
  }
}
.u-section-8 .u-sheet-1 {
  min-height: 1042px;
}

.u-section-8 .u-group-1 {
  min-height: 151px;
  width: 802px;
  margin: 130px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-8 .u-text-1 {
  margin: 13px 0 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 23px 0 63px auto;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 295px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-8 .u-text-2 {
  margin: 62px 0 0 auto;
}

.u-section-8 .u-image-1 {
  min-height: 295px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("images/dragon-ie-wo-kau-thumbnail-1617617643.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-8 .u-text-3 {
  margin: 44px 0 0 auto;
}

.u-section-8 .u-image-2 {
  min-height: 295px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("images/digimon-adventure-2020-thumbnail.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-8 .u-text-4 {
  margin: 0 0 0 auto;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 295px;
}

.u-section-8 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-8 .u-text-5 {
  margin: 62px 0 0 auto;
}

.u-section-8 .u-image-3 {
  min-height: 295px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("images/ijiranaide-nagatoro-san-thumbnail-1618103747.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-8 .u-text-6 {
  margin: 44px 0 0 auto;
}

.u-section-8 .u-image-4 {
  min-height: 295px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url("images/86-eighty-six-thumbnail-1618127177.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-8 .u-text-7 {
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-8 .u-group-1 {
    width: 661px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 5px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 243px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-image-1 {
    min-height: 243px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-image-2 {
    min-height: 243px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 243px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-image-3 {
    min-height: 243px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-image-4 {
    min-height: 243px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-8 .u-group-1 {
    min-height: 161px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 95px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-1 {
    min-height: 186px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-2 {
    min-height: 186px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-3 {
    min-height: 186px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-4 {
    min-height: 186px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2016px;
  }

  .u-section-8 .u-group-1 {
    min-height: 151px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-4 {
    min-height: 419px;
  }

  .u-section-8 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1773px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 264px;
  }

  .u-section-8 .u-image-2 {
    min-height: 264px;
  }

  .u-section-8 .u-image-3 {
    min-height: 264px;
  }

  .u-section-8 .u-image-4 {
    min-height: 264px;
  }
}
.u-section-9 .u-sheet-1 {
  min-height: 695px;
}

.u-section-9 .u-text-1 {
  margin: 105px 20px 0;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 321px;
  margin: 30px auto 105px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}
.u-section-10 .u-sheet-1 {
  min-height: 730px;
}

.u-section-10 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 70px 0;
}

.u-section-10 .u-image-1 {
  min-height: 600px;
  pointer-events: auto;
  background-image: url("images/kumo-desu-ga-nani-ka-thumbnail.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 600px;
  pointer-events: auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-1 {
    min-height: 495px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    min-height: 379px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-10 .u-image-1 {
    min-height: 569px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-10 .u-image-1 {
    min-height: 358px;
  }
}
.u-section-11 .u-sheet-1 {
  min-height: 551px;
}

.u-section-11 .u-image-1 {
  min-height: 281px;
  background-image: url("images/pham-nhan-tu-tien-cover1.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 281px;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px 60px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-layout-cell-3 {
  min-height: 281px;
  order: 0;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-11 .u-text-2 {
  margin: 0;
}

.u-section-11 .u-image-2 {
  min-height: 281px;
  order: 0;
  background-image: url("images/dau-la-dai-luc-cover1.png");
  background-position: 50% 50%;
}

.u-section-11 .u-container-layout-4 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-11 .u-image-1 {
    min-height: 232px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 232px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-11 .u-image-2 {
    min-height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-11 .u-image-1 {
    min-height: 178px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-image-2 {
    min-height: 178px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-11 .u-image-1 {
    min-height: 267px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-image-2 {
    min-height: 267px;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-11 .u-image-1 {
    min-height: 168px;
  }

  .u-section-11 .u-image-2 {
    min-height: 168px;
  }
}
