<% layout ('layout') %>

    <div class="content parent-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="forget-pass-form bgfff">
                        <h1 class="main_page_title">Quên mật khẩu</h1>
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            Bạn vui lòng nhập email vào ô bên dưới và nhấn nút "Gửi mật khẩu mới". Sau đó bạn hãy kiểm tra email để làm theo hướng dẫn.
                        </div>
                        <% if(hasError) { %>
                            <% for (var i = 0; i < messages.length; i ++) { %>
                                <div class='alert alert-danger'>
                                    <a href="#" class='close' data-dismiss='alert' aria-label="close">
                                        &#x2718;
                                    </a>
                                    <%= messages[i] %>
                                </div>
                                <%} %>
                                    <% } %>

                                        <% if(noError) { %>
                                            <div class='alert alert-info'>
                                                <a href="#" class='close' data-dismiss='alert' aria-label="close">
                                                    &#x2718;
                                                </a>
                                                <%= info %>
                                            </div>
                                            <% } %>

                                                <form method="POST" action="/forgot">
                                                    <input type="hidden" name="_token" value="nIJdVC98P33OGVGFeKfTk8jQ7gSGGp55j4hxQDhZ">

                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input required="" id="email" type="email" name="email" value="" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary">Gửi mật khẩu mới</button>
                                                    </div>
                                                </form>
                    </div>
                </div>
                <!-- /.col-xs-12 col-sm-12 col-md-8 -->
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="widget wranks">
                        <h3>Bảng xếp hạng</h3>
                        <div class="tabs_wrank">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#wrank-day" aria-controls="wrank-day" role="tab" data-toggle="tab">Ngày</a></li>
                                <li role="presentation"><a href="#wrank-week" aria-controls="wrank-week" role="tab" data-toggle="tab">Tuần</a></li>
                                <li role="presentation"><a href="#wrank-month" aria-controls="wrank-month" role="tab" data-toggle="tab">Tháng</a></li>
                                <li role="presentation"><a href="#wrank-q" aria-controls="wrank-q" role="tab" data-toggle="tab">Mùa</a></li>
                                <li role="presentation"><a href="#wrank-year" aria-controls="wrank-year" role="tab" data-toggle="tab">Năm</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="wrank-day">
                                    <ul class="rank-film-list">
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">1</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/5rHPGDc-1.jpg" alt="Naruto Shippuuden - Naruto: Sức Mạnh Vĩ Thú | Naruto Phần 2">
                                                <h3 class="title">Naruto Shippuuden</h3>
                                            </a>
                                            <div>
                                                <span class="time">500/500 Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 12,543</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">2</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/e7c936b5eacd4fd0f89bd7b651954e6b1383245216_full.jpg" alt="One Piece - Đảo Hải Tặc | Vua Hải Tặc">
                                                <h3 class="title">One Piece</h3>
                                            </a>
                                            <div>
                                                <span class="time">976/??? Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 6,526</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">3</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/84460.jpg" alt="Boruto: Naruto Next Generations - BORUTO -NARUTO NEXT GENERATIONS ( Naruto Season 3) | Boruto: Naruto những thế hệ kế tiếp">
                                                <h3 class="title">Boruto: Naruto Next Generations</h3>
                                            </a>
                                            <div>
                                                <span class="time">201/?? Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 3,592</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">4</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/Pb8f2SL-2.jpg" alt="Detective Conan - Thám Tử Lừng Danh Conan | Meitantei Conan | 名探偵コナン">
                                                <h3 class="title">Detective Conan</h3>
                                            </a>
                                            <div>
                                                <span class="time">1005/??? Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 3,187</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">5</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/ac36818309ca8e2c144095f00bd314509d9601f7.jpg" alt="Black Clover (TV) - Black Clover (2017)">
                                                <h3 class="title">Black Clover (TV)</h3>
                                            </a>
                                            <div>
                                                <span class="time">170/170 Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 2,766</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">6</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/109222.jpg" alt="Jujutsu Kaisen - Sorcery Fight">
                                                <h3 class="title">Jujutsu Kaisen</h3>
                                            </a>
                                            <div>
                                                <span class="time">24/24 Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 1,939</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">7</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/fdPVK3L.jpg" alt="Dragon Ball Super - Dragon Ball Chou">
                                                <h3 class="title">Dragon Ball Super</h3>
                                            </a>
                                            <div>
                                                <span class="time">131/131 Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 1,912</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">8</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/yLkcS5M.jpg" alt="Bleach - Sứ Mạng Thần Chết Ichigo">
                                                <h3 class="title">Bleach</h3>
                                            </a>
                                            <div>
                                                <span class="time">366/366 Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 1,771</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">9</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/112268.jpg" alt="Tensura Nikki: Tensei shitara Slime Datta Ken - The Slime Diaries: That Time I Got Reincarnated as a Slime, Lúc đó tôi đã chuyển sinh thành Slime- Nhật ký của Rimuru">
                                                <h3 class="title">Tensura Nikki: Tensei shitara Slime Datta Ken</h3>
                                            </a>
                                            <div>
                                                <span class="time">09/12 Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 1,655</span>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                <div class="r_c_wrap"><span class="r_c">10</span></div>
                                                <img width="" class="thumb lazyload img-responsive" src="https://photos.animetvn.tv/upload/film/2kWGYzq.jpg" alt="Kuroko No Basket - Kuroko's Basketball | Kuroko no Basuke Ss1">
                                                <h3 class="title">Kuroko No Basket</h3>
                                            </a>
                                            <div>
                                                <span class="time">25/25 Tập</span>
                                            </div>
                                            <div>
                                                <span class="viewed"><span>Lượt xem:</span> 1,642</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="wrank-week"></div>
                                <div role="tabpanel" class="tab-pane" id="wrank-month"></div>
                                <div role="tabpanel" class="tab-pane" id="wrank-q"></div>
                                <div role="tabpanel" class="tab-pane" id="wrank-year"></div>
                            </div>
                        </div>
                    </div>
                    <div class="widget">
                        <h3>Bình luận mới</h3>
                        <ul class="cmt-widget">
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Violet Evergarden Movie
        </a>
                                    <span class="cmt-ep">Tập Full</span>
                                </h3>
                                <a class="author-avatar" title="Violet Evergarden Movie" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    Việt AN        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 53 phút trước</span>
                                <div class="cmt-content">
                                    Hay hay hay hay hay<img src="https://photos.animetvn.tv/images/Gif/Cute/23.gif" width="60" height="60" alt=""> &nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Kyuukyoku Shinka shita Full Dive RPG ga Genjitsu yori mo Kusoge Dattara
        </a>
                                    <span class="cmt-ep">Tập 09</span>
                                </h3>
                                <a class="author-avatar" title="Kyuukyoku Shinka shita Full Dive RPG ga Genjitsu yori mo Kusoge Dattara" href="">
                                    <img alt="Author" class="" src="/upload/avatar/Twitter-2.jpg" style="display: inline;">
                                </a>
                                <span class="author">
    kienminhhao        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 1 giờ trước</span>
                                <div class="cmt-content">
                                    <img src="https://photos.animetvn.tv/images/Gif/Ami/17.gif" width="60" height="60" alt=""> &nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Isekai Maou to Shoukan Shoujo no Dorei Majutsu Ω (Ss2)
        </a>
                                    <span class="cmt-ep"></span>
                                </h3>
                                <a class="author-avatar" title="Isekai Maou to Shoukan Shoujo no Dorei Majutsu Ω (Ss2)" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    Nảuto        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 1 giờ trước</span>
                                <div class="cmt-content">
                                    Mấy ô cứ kêu ca bộ này trash trong khi bộ này chủ yếu là về ecchi hentai coi để quay tay, k coi thì cút
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Kyuukyoku Shinka shita Full Dive RPG ga Genjitsu yori mo Kusoge Dattara
        </a>
                                    <span class="cmt-ep">Tập 09</span>
                                </h3>
                                <a class="author-avatar" title="Kyuukyoku Shinka shita Full Dive RPG ga Genjitsu yori mo Kusoge Dattara" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    a        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 2 giờ trước</span>
                                <div class="cmt-content">
                                    thề con reona đéo muốn nó đi chung tí nào , chả đc tích sự gì còn toàn làm những hành động như * ấy&nbsp;
                                    <img src="https://photos.animetvn.tv/images/Gif/Onion/043.gif" width="60" height="60" alt="">
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Owarimonogatari
        </a>
                                    <span class="cmt-ep">Tập 03</span>
                                </h3>
                                <a class="author-avatar" title="Owarimonogatari" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    Nguyen Hung Nguyen        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 2 giờ trước</span>
                                <div class="cmt-content">
                                    dịch thiếu tùm lum mong ad xem xét lại &nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Jahy-sama wa Kujikenai!
        </a>
                                    <span class="cmt-ep"></span>
                                </h3>
                                <a class="author-avatar" title="Jahy-sama wa Kujikenai!" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    K on        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 2 giờ trước</span>
                                <div class="cmt-content">
                                    Azunyan Azunyan Azunyan Azunyan&nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Fruits Basket: The Final
        </a>
                                    <span class="cmt-ep">Tập 02</span>
                                </h3>
                                <a class="author-avatar" title="Fruits Basket: The Final" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    yang        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 2 giờ trước</span>
                                <div class="cmt-content">
                                    20:42 tập 2, anh cẩu ngầu vậy
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Hokuto no Ken
        </a>
                                    <span class="cmt-ep">Tập 29</span>
                                </h3>
                                <a class="author-avatar" title="Hokuto no Ken" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    Võ Minh Nhựt        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 2 giờ trước</span>
                                <div class="cmt-content">
                                    Mãi mới thấy cây súng =))
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Gosick
        </a>
                                    <span class="cmt-ep">Tập 24_End</span>
                                </h3>
                                <a class="author-avatar" title="Gosick" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/upload/avatar_animetvn_boy.png" style="display: inline;">
                                </a>
                                <span class="author">
    antenloman        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 3 giờ trước</span>
                                <div class="cmt-content">
                                    Phim giúp nở não và giúp cảm nhận được hơi ấm hạnh phúc. Tuyệt phẩm.
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Tensei shitara Slime Datta Ken 2nd Season
        </a>
                                    <span class="cmt-ep">Tập 09</span>
                                </h3>
                                <a class="author-avatar" title="Tensei shitara Slime Datta Ken 2nd Season" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    ye        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 4 giờ trước</span>
                                <div class="cmt-content">
                                    xem nhảm vãil nói lắm dell thấy đánh nhau
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Jujutsu Kaisen
        </a>
                                    <span class="cmt-ep">Tập 24_End</span>
                                </h3>
                                <a class="author-avatar" title="Jujutsu Kaisen" href="">
                                    <img alt="Author" class="" src="/upload/avatar/6b00e9284a821864d9e9a23d2ce17e35-mangan-chinese.jpg" style="display: inline;">
                                </a>
                                <span class="author">
    Lila        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 5 giờ trước</span>
                                <div class="cmt-content">
                                    hay ghê main siêu cấp ngầu, hài, đẹp zai
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Detective Conan
        </a>
                                    <span class="cmt-ep">Tập 863</span>
                                </h3>
                                <a class="author-avatar" title="Detective Conan" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    LKank        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 7 giờ trước</span>
                                <div class="cmt-content">
                                    Đỉnh<img src="https://photos.animetvn.tv/images/Gif/Cute/12.gif" width="60" height="60" alt="">
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Osananajimi ga Zettai ni Makenai Love Comedy
        </a>
                                    <span class="cmt-ep">Tập 04</span>
                                </h3>
                                <a class="author-avatar" title="Osananajimi ga Zettai ni Makenai Love Comedy" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    phe        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 11 giờ trước</span>
                                <div class="cmt-content">
                                    thề mấy thằng nhân vật phụ rên rên hài vkl&nbsp;<img src="https://photos.animetvn.tv/images/Gif/Troll/01-kyghe.gif" width="60" height="60" alt="">
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Mushishi
        </a>
                                    <span class="cmt-ep"></span>
                                </h3>
                                <a class="author-avatar" title="Mushishi" href="">
                                    <img alt="Author" class="" src="/upload/avatar/170px-RWS_Tarot_00_Fool.jpg" style="display: inline;">
                                </a>
                                <span class="author">
    the_fool        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 11 giờ trước</span>
                                <div class="cmt-content">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 30
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Fate/Prototype (OVA)
        </a>
                                    <span class="cmt-ep">Tập OVA</span>
                                </h3>
                                <a class="author-avatar" title="Fate/Prototype (OVA)" href="">
                                    <img alt="Author" class="" src="/upload/avatar/digital-blasphemy-3d-wallpaper-1024x768.jpg" style="display: inline;">
                                </a>
                                <span class="author">
    Sailor        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 12 giờ trước</span>
                                <div class="cmt-content">
                                    giống 1 bản thảo, bản nháp đầu của tác giả chưa hoàn thiện&nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Sword Art Online Alternative: Gun Gale Online
        </a>
                                    <span class="cmt-ep"></span>
                                </h3>
                                <a class="author-avatar" title="Sword Art Online Alternative: Gun Gale Online" href="">
                                    <img alt="Author" class="" src="/upload/avatar/Ultra-Instinct-6.gif" style="display: inline;">
                                </a>
                                <span class="author">
    theolddragon        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 12 giờ trước</span>
                                <div class="cmt-content">
                                    Cốt truyện của cái này khá gần với Fatal Bullet mà k có thằng Tồ cũng đc y trong game ;))&nbsp;<img src="https://photos.animetvn.tv/images/Gif/Emoji/a-winking-face_1f609.png" width="60" height="60" alt="">
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Godzilla: S.P
        </a>
                                    <span class="cmt-ep">Tập 10</span>
                                </h3>
                                <a class="author-avatar" title="Godzilla: S.P" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    Ngọc hân        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 13 giờ trước</span>
                                <div class="cmt-content">
                                    Xem sever nào k lag nhỉ ;-;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Kakushigoto (TV)
        </a>
                                    <span class="cmt-ep">Tập 12_End</span>
                                </h3>
                                <a class="author-avatar" title="Kakushigoto (TV)" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    JADENYUKI         </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 13 giờ trước</span>
                                <div class="cmt-content">
                                    Siêu phẩm, hay thật sự<img src="https://photos.animetvn.tv/images/Gif/Pikalong/d4311aebb51c52752b76f15051748acc.png" width="60" height="60" alt="">
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Taisou Zamurai
        </a>
                                    <span class="cmt-ep">Tập 11_End</span>
                                </h3>
                                <a class="author-avatar" title="Taisou Zamurai" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    thao1111        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 13 giờ trước</span>
                                <div class="cmt-content">
                                    phim hay ơi là hay, không uổng một ngày tu luyện!!! những giây phút quý giá không lãng phí rồi!!! Rất.. rất...rất cảm động a!!!
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Mairimashita! Iruma-kun
        </a>
                                    <span class="cmt-ep">Tập 11</span>
                                </h3>
                                <a class="author-avatar" title="Mairimashita! Iruma-kun" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    zh        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 14 giờ trước</span>
                                <div class="cmt-content">
                                    coi tập 11 mah cừi mún điên
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Kono Subarashii Sekai ni Shukufuku wo!
        </a>
                                    <span class="cmt-ep"></span>
                                </h3>
                                <a class="author-avatar" title="Kono Subarashii Sekai ni Shukufuku wo!" href="">
                                    <img alt="Author" class="" src="/upload/avatar/FB_IMG_1621768845642.jpg" style="display: inline;">
                                </a>
                                <span class="author">
    SkyTuanDat        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 14 giờ trước</span>
                                <div class="cmt-content">
                                    Bộ này có ss3 ko ae
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Thế Giới Hoàn Mỹ
        </a>
                                    <span class="cmt-ep">Tập 01</span>
                                </h3>
                                <a class="author-avatar" title="Thế Giới Hoàn Mỹ" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    0707        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 14 giờ trước</span>
                                <div class="cmt-content">
                                    rồi cái sẹo hải tặc luffy trc ngực của tiểu bất điểm đâu&nbsp;<img src="https://photos.animetvn.tv/images/Gif/Popo/0431e956dccb7da8a6948208fd987353.png" width="60" height="60" alt=""> &nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Vivy: Fluorite Eye&amp;#39s Song
        </a>
                                    <span class="cmt-ep">Tập 10</span>
                                </h3>
                                <a class="author-avatar" title="Vivy: Fluorite Eye&amp;#39s Song" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    vohox        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 14 giờ trước</span>
                                <div class="cmt-content">
                                    đm đoạn cuối nghe nổi hết mẹ da gà :v &nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Kyuukyoku Shinka shita Full Dive RPG ga Genjitsu yori mo Kusoge Dattara
        </a>
                                    <span class="cmt-ep">Tập 08</span>
                                </h3>
                                <a class="author-avatar" title="Kyuukyoku Shinka shita Full Dive RPG ga Genjitsu yori mo Kusoge Dattara" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    dabi         </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 14 giờ trước</span>
                                <div class="cmt-content">
                                    tap 9 dauuuuuuuuuuuu&nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Jahy-sama wa Kujikenai!
        </a>
                                    <span class="cmt-ep">Tập Preview</span>
                                </h3>
                                <a class="author-avatar" title="Jahy-sama wa Kujikenai!" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    tranletran        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 14 giờ trước</span>
                                <div class="cmt-content">
                                    Có clip gốc không ? &nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Sentouin, Hakenshimasu!
        </a>
                                    <span class="cmt-ep">Tập 01</span>
                                </h3>
                                <a class="author-avatar" title="Sentouin, Hakenshimasu!" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    I'm Gay        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 14 giờ trước</span>
                                <div class="cmt-content">
                                    <img src="https://photos.animetvn.tv/images/Gif/Troll/07-ahaha.gif" width="60" height="60" alt="">phim cảm động ghê =))&nbsp; Coi mà cười rớt nước mắt&nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Mushoku Tensei: Isekai Ittara Honki Dasu
        </a>
                                    <span class="cmt-ep">Tập 05</span>
                                </h3>
                                <a class="author-avatar" title="Mushoku Tensei: Isekai Ittara Honki Dasu" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    Nhi Ú        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 15 giờ trước</span>
                                <div class="cmt-content">
                                    tránh dịch coi lại công nhận Art và Animation các skill đỉnh quá&nbsp;
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Godzilla: S.P
        </a>
                                    <span class="cmt-ep">Tập 10</span>
                                </h3>
                                <a class="author-avatar" title="Godzilla: S.P" href="">
                                    <img alt="Author" class="" src="https://animetvn.com/images/anonymous.png" style="display: inline;">
                                </a>
                                <span class="author">
    Muda Muda Muda Wryyyyy        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 15 giờ trước</span>
                                <div class="cmt-content">
                                    So con này với Shin Godzilla không biết con nào ăn&nbsp;<img src="https://photos.animetvn.tv/images/Gif/Onion/015.gif" width="60" height="60" alt="">
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Grand Blue
        </a>
                                    <span class="cmt-ep">Tập 12_End</span>
                                </h3>
                                <a class="author-avatar" title="Grand Blue" href="">
                                    <img alt="Author" class="" src="/upload/avatar/received_748693849069426.jpeg" style="display: inline;">
                                </a>
                                <span class="author">
    longvupro113456        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 15 giờ trước</span>
                                <div class="cmt-content">
                                    &nbsp;Theo thông tin tôi được biết thì bộ này sẽ có ss2 và sẽ ra vào tháng 7&nbsp;<img src="https://photos.animetvn.tv/images/Gif/Cute/14.gif" width="60" height="60" alt="">
                                </div>
                            </li>
                            <li>
                                <h3 class="title">
                                    <a class="film-link" href="">
        Haikyuu!!
        </a>
                                    <span class="cmt-ep">Tập 06</span>
                                </h3>
                                <a class="author-avatar" title="Haikyuu!!" href="">
                                    <img alt="Author" class="" src="/upload/avatar/FB_IMG_1481546476795.jpg" style="display: inline;">
                                </a>
                                <span class="author">
    kumanolife        </span>
                                <span class="time"><i class="fa fa-clock-o"></i> 15 giờ trước</span>
                                <div class="cmt-content">
                                    <img src="https://photos.animetvn.tv/images/Gif/Cute/23.gif" width="60" height="60" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /.col-xs-12 col-sm-12 col-md-4 -->
            </div>
        </div>
    </div>