.e42_49 {
  overflow: hidden;
}
.e42_49 {
  width: 1920px;
  height: 1080px;
  position: absolute;
}
.e42_50 {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e42_51 {
  background-color: rgba(
    24.000000469386578,
    26.000000350177288,
    27.000000290572643,
    1
  );
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e42_55 {
  box-shadow: 0px 4px 4px rgba(255, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  width: 315px;
  height: 74px;
  position: absolute;
  left: 802px;
  top: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  font-size: 64px;
  letter-spacing: 0;
}
.e42_58 {
  transform: rotate(0.000005008956130975318deg);
  width: 1720px;
  height: 0px;
  position: absolute;
  left: 100px;
  top: 210px;
}
.e42_58 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e42_59 {
  transform: rotate(0.000005008956130975318deg);
  width: 1720px;
  height: 0px;
  position: absolute;
  left: 100px;
  top: 129px;
}
.e42_59 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e42_88 {
  transform: rotate(0.000005008956130975318deg);
  width: 1720px;
  height: 0px;
  position: absolute;
  left: 100px;
  top: 414px;
}
.e42_88 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e42_87 {
  width: 1720px;
  height: 205px;
  position: absolute;
  left: 100px;
  top: 209px;
  background-image: url(images/image_38.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e42_70 {
  background-color: rgba(
    247.00000047683716,
    56.000000461936,
    56.000000461936,
    1
  );
  width: 1720px;
  height: 80px;
  position: absolute;
  left: 100px;
  top: 130px;
}
.e42_71 {
  transform: rotate(-89.99998880714719deg);
  width: 80.99999237060547px;
  height: -0.000015823521607671864px;
  position: absolute;
  left: 960px;
  top: 210px;
}
.e42_71 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e42_85 {
  transform: rotate(-89.99999749552184deg);
  width: 283.9999694824219px;
  height: -0.00001241403333551716px;
  position: absolute;
  left: 100px;
  top: 414px;
}
.e42_85 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e42_73 {
  transform: rotate(-89.99998880714719deg);
  width: 80.99999237060547px;
  height: -0.000015823521607671864px;
  position: absolute;
  left: 1290px;
  top: 210px;
}
.e42_73 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e42_74 {
  transform: rotate(-89.99998880714719deg);
  width: 80.99999237060547px;
  height: -0.000015823521607671864px;
  position: absolute;
  left: 1492px;
  top: 210px;
}
.e42_74 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e42_75 {
  transform: rotate(-89.99999749552184deg);
  width: 284.9999694824219px;
  height: 0px;
  position: absolute;
  left: 1820px;
  top: 414px;
}
.e42_75 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e42_76 {
  color: rgba(255, 255, 255, 1);
  width: 46px;
  height: 28px;
  position: absolute;
  left: 1094px;
  top: 156px;
  font-family: Times New Roman;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e42_77 {
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: 28px;
  position: absolute;
  left: 1328px;
  top: 156px;
  font-family: Times New Roman;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e42_78 {
  color: rgba(255, 255, 255, 1);
  width: 71px;
  height: 28px;
  position: absolute;
  left: 1595px;
  top: 156px;
  font-family: Times New Roman;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.e42_84 {
  color: rgba(255, 255, 255, 1);
  width: 128px;
  height: 28px;
  position: absolute;
  left: 466px;
  top: 156px;
  font-family: Times New Roman;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
