<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Giới thiệu</h3>
                    <div class="content">
                        ANIMELAU - Trang web xem Anime HD trực tuyến. Kho Anime phong phú nhiều thể loại, cập nhật mới liên tục mỗi ngày.<br>
                        <br> Mọi dữ liệu trên ANIMELAU đều được tổng hợp và re-upload từ internet.<br>
                        <br> Xem tốt nhất với trình duyệt Mozilla Firefox &amp; Google Chrome.
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget">
                    <h3 class="title">Liên kết</h3>
                    <div class="content">
                        <ul>
                            <li><a href="" target="_blank">Sitemap</a></li>
                            <li><a href="" target="_blank">RSS</a></li>
                            <li>Liên hệ: animelau@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-106574433-1"></script>
                <script>
                    window.dataLayer = window.dataLayer || [];

                    function gtag() {
                        dataLayer.push(arguments);
                    }
                    gtag('js', new Date());

                    gtag('config', 'UA-106574433-1');
                </script>
                <div class="copyright text-center">
                    Copyright © 2021 . <strong>ANIMELAU.TV</strong>. All Rights Reserved.
                </div>



            </div>
        </div>
    </div>
</div>