.e48_4 {
  overflow: hidden;
}
.e48_4 {
  background-color: rgba(255, 255, 255, 1);
  width: 1920px;
  height: 2160px;
  position: absolute;
}
.e48_6 {
  background-color: rgba(
    24.000000469386578,
    26.000000350177288,
    27.000000290572643,
    1
  );
  width: 1920px;
  height: 2160px;
  position: absolute;
  left: 0px;
  top: -1px;
}
.e80_12 {
  width: 1078.437744140625px;
  height: 353.5018310546875px;
  position: absolute;
  left: 596.6875px;
  top: 726.498046875px;
}
.e48_54 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 95px;
  height: 20px;
  position: absolute;
  left: 84.3125px;
  top: 289.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_55 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 96px;
  height: 20px;
  position: absolute;
  left: 295.3125px;
  top: 289.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_56 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_56 {
  width: 67.96453857421875px;
  height: 0px;
  position: absolute;
  left: 281.85498046875px;
  top: 285.674072265625px;
}
.e48_57 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 79px;
  height: 20px;
  position: absolute;
  left: 503.3125px;
  top: 289.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_58 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_58 {
  width: 51.972900390625px;
  height: 0px;
  position: absolute;
  left: 485.74853515625px;
  top: 285.674072265625px;
}
.e48_59 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 79px;
  height: 20px;
  position: absolute;
  left: 737.3125px;
  top: 289.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_60 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_60 {
  width: 60.968017578125px;
  height: 0px;
  position: absolute;
  left: 717.6279296875px;
  top: 285.674072265625px;
}
.e48_61 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 95px;
  height: 20px;
  position: absolute;
  left: 924.3125px;
  top: 289.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_62 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_62 {
  width: 61.9676513671875px;
  height: 0px;
  position: absolute;
  left: 901.5322265625px;
  top: 285.674072265625px;
}
.e48_63 {
  color: rgba(255, 255, 255, 1);
  width: 143.925048828125px;
  height: 31.6767578125px;
  position: absolute;
  left: 59.97021484375px;
  top: 305.9866943359375px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_64 {
  color: rgba(255, 255, 255, 1);
  width: 152.92034912109375px;
  height: 47.51513671875px;
  position: absolute;
  left: 264.86376953125px;
  top: 305.9866943359375px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_65 {
  color: rgba(255, 255, 255, 1);
  width: 131.9312744140625px;
  height: 31.6767578125px;
  position: absolute;
  left: 474.75439453125px;
  top: 305.9866943359375px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_66 {
  color: rgba(255, 255, 255, 1);
  width: 185.9031982421875px;
  height: 31.6767578125px;
  position: absolute;
  left: 674.650390625px;
  top: 305.9669189453125px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_67 {
  color: rgba(255, 255, 255, 1);
  width: 176.907958984375px;
  height: 31.6767578125px;
  position: absolute;
  left: 876.54541015625px;
  top: 308.9564208984375px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_68 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_68 {
  width: 183.82763671875px;
  height: 232.6263427734375px;
  position: absolute;
  left: 32.4853515625px;
  top: 43.148681640625px;
  background-image: url(images/image_7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_69 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_69 {
  width: 185.903076171875px;
  height: 232.6263427734375px;
  position: absolute;
  left: 244.3740234375px;
  top: 43.148681640625px;
  background-image: url(images/image_8.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_70 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_70 {
  width: 186.9027099609375px;
  height: 232.6263427734375px;
  position: absolute;
  left: 455.2646484375px;
  top: 43.148681640625px;
  background-image: url(images/image_9.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_71 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_71 {
  width: 186.9027099609375px;
  height: 232.6263427734375px;
  position: absolute;
  left: 667.154296875px;
  top: 43.148681640625px;
  background-image: url(images/image_10.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_72 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_72 {
  width: 186.902587890625px;
  height: 232.6263427734375px;
  position: absolute;
  left: 869.04931640625px;
  top: 43.148681640625px;
  background-image: url(images/image_11.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_43 {
  color: rgba(255, 255, 255, 1);
  width: 61px;
  height: 14px;
  position: absolute;
  left: 68.3125px;
  top: 278.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}
.e48_44 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_44 {
  width: 61.96771240234375px;
  height: 0px;
  position: absolute;
  left: 67.96435546875px;
  top: 285.674072265625px;
}
.e48_45 {
  color: rgba(255, 255, 255, 1);
  width: 68px;
  height: 14px;
  position: absolute;
  left: 281.3125px;
  top: 278.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}
.e48_46 {
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: 14px;
  position: absolute;
  left: 481.3125px;
  top: 278.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}
.e48_47 {
  color: rgba(255, 255, 255, 1);
  width: 61px;
  height: 14px;
  position: absolute;
  left: 714.3125px;
  top: 278.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}
.e48_48 {
  color: rgba(255, 255, 255, 1);
  width: 61px;
  height: 14px;
  position: absolute;
  left: 899.3125px;
  top: 278.501953125px;
  font-family: Roboto;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0;
}
.e48_49 {
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  width: 14.2425537109375px;
  height: 60.0096435546875px;
  position: absolute;
  left: 0px;
  top: 131.436767578125px;
}
.e48_50 {
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  width: 14.242431640625px;
  height: 60.0096435546875px;
  position: absolute;
  left: 1064.1953125px;
  top: 133.41650390625px;
}
.e48_51 {
  color: rgba(255, 255, 255, 1);
  width: 288.84954833984375px;
  height: 41.57574462890625px;
  position: absolute;
  left: 363.810546875px;
  top: 0px;
  font-family: Roboto;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
}
.e48_52 {
  border: 3px solid rgba(255, 255, 255, 1);
}
.e48_52 {
  width: 724.6226196289062px;
  height: 0px;
  position: absolute;
  left: 163.91455078125px;
  top: 0.5830078125px;
}
.e80_10 {
  width: 1167px;
  height: 353px;
  position: absolute;
  left: 405px;
  top: 1799px;
}
.e80_11 {
  width: 1152px;
  height: 308px;
  position: absolute;
  left: 0px;
  top: 45px;
}
.e48_134 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 119px;
  height: 22px;
  position: absolute;
  left: 38px;
  top: 252px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_135 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 279px;
  top: 253px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_136 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_136 {
  width: 69px;
  height: 0px;
  position: absolute;
  left: 195.00390625px;
  top: 249.72509765625px;
}
.e48_137 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 113px;
  height: 22px;
  position: absolute;
  left: 520px;
  top: 254px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_138 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_138 {
  width: 53px;
  height: 0px;
  position: absolute;
  left: 403.00390625px;
  top: 249.72509765625px;
}
.e48_139 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 112px;
  height: 22px;
  position: absolute;
  left: 758px;
  top: 253px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_140 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_140 {
  width: 62px;
  height: 0px;
  position: absolute;
  left: 720.00390625px;
  top: 249.72509765625px;
}
.e48_141 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 1004px;
  top: 254px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_142 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_142 {
  width: 63px;
  height: 0px;
  position: absolute;
  left: 938.00390625px;
  top: 249.72509765625px;
}
.e48_143 {
  color: rgba(255, 255, 255, 1);
  width: 173px;
  height: 33px;
  position: absolute;
  left: 11px;
  top: 275px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_145 {
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: 32px;
  position: absolute;
  left: 496px;
  top: 271px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_191 {
  color: rgba(255, 255, 255, 1);
  width: 164px;
  height: 32px;
  position: absolute;
  left: 256px;
  top: 274px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_146 {
  color: rgba(255, 255, 255, 1);
  width: 190px;
  height: 32px;
  position: absolute;
  left: 728px;
  top: 275px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_147 {
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: 32px;
  position: absolute;
  left: 968px;
  top: 274px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_148 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_148 {
  width: 200px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/image_30.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_149 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_149 {
  width: 200px;
  height: 250.00001525878906px;
  position: absolute;
  left: 238px;
  top: 0px;
  background-image: url(images/image_31.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_150 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_150 {
  width: 200px;
  height: 250.00001525878906px;
  position: absolute;
  left: 476px;
  top: 0px;
  background-image: url(images/image_32.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_151 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_151 {
  width: 199.99998474121094px;
  height: 250.00001525878906px;
  position: absolute;
  left: 714px;
  top: 0px;
  background-image: url(images/image_33.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_152 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_152 {
  width: 199.99998474121094px;
  height: 249.99998474121094px;
  position: absolute;
  left: 952px;
  top: 0px;
  background-image: url(images/image_34.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_157 {
  width: 1167px;
  height: 37.785640716552734px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_158 {
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 169.91989135742188px;
  height: 28.339229583740234px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_159 {
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 84.95994567871094px;
  height: 37.785640716552734px;
  position: absolute;
  left: 127.43976593017578px;
  top: 0px;
}
.e48_160 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 127.75929260253906px;
  height: 21.591785430908203px;
  position: absolute;
  left: 338.5623474121094px;
  top: 28.3392333984375px;
}
.e48_161 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 237.95138549804688px;
  top: 28.3392333984375px;
}
.e48_162 {
  transform: rotate(-5.929259409199296e-15deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 311.41339111328125px;
  top: 6.7474365234375px;
}
.e48_163 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 127.75929260253906px;
  height: 21.591785430908203px;
  position: absolute;
  left: 497.67779541015625px;
  top: 28.3392333984375px;
}
.e48_166 {
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: 23px;
  position: absolute;
  left: 23px;
  top: 4px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_167 {
  color: rgba(255, 255, 255, 1);
  width: 87px;
  height: 23px;
  position: absolute;
  left: 249px;
  top: 10px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_168 {
  color: rgba(255, 255, 255, 1);
  width: 94px;
  height: 23px;
  position: absolute;
  left: 404px;
  top: 10px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_171 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 127.75929260253906px;
  height: 21.591785430908203px;
  position: absolute;
  left: 656.908203125px;
  top: 28.591796875px;
}
.e48_172 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 556.2978515625px;
  top: 28.591796875px;
}
.e48_173 {
  transform: rotate(-5.929259409199296e-15deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 629.759765625px;
  top: 7px;
}
.e48_174 {
  color: rgba(255, 255, 255, 1);
  width: 94px;
  height: 23px;
  position: absolute;
  left: 563.23046875px;
  top: 10.2525634765625px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_175 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 127.75929260253906px;
  height: 21.591785430908203px;
  position: absolute;
  left: 815.908203125px;
  top: 28.591796875px;
}
.e48_176 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 715.2978515625px;
  top: 28.591796875px;
}
.e48_177 {
  transform: rotate(-5.929259409199296e-15deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 788.759765625px;
  top: 7px;
}
.e48_178 {
  color: rgba(255, 255, 255, 1);
  width: 94px;
  height: 23px;
  position: absolute;
  left: 722.23046875px;
  top: 10.2525634765625px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_179 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 127.75929260253906px;
  height: 21.591785430908203px;
  position: absolute;
  left: 974.908203125px;
  top: 29.591796875px;
}
.e48_180 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 874.2978515625px;
  top: 29.591796875px;
}
.e48_181 {
  transform: rotate(-5.929259409199296e-15deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 947.759765625px;
  top: 8px;
}
.e48_182 {
  color: rgba(255, 255, 255, 1);
  width: 94px;
  height: 23px;
  position: absolute;
  left: 881.23046875px;
  top: 11.2525634765625px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_164 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 397.0673522949219px;
  top: 28.3392333984375px;
}
.e48_165 {
  transform: rotate(-5.929259409199296e-15deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 470.52935791015625px;
  top: 6.7474365234375px;
}
.e48_169 {
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 90px;
  height: 24px;
  position: absolute;
  left: 1064px;
  top: 8px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
}
.e48_170 {
  color: rgba(255, 255, 255, 1);
  width: 90px;
  height: 17px;
  position: absolute;
  left: 1077px;
  top: 11px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e80_8 {
  width: 1154px;
  height: 695px;
  position: absolute;
  left: 405px;
  top: 1104px;
}
.e80_9 {
  width: 1152px;
  height: 647px;
  position: absolute;
  left: 0px;
  top: 48px;
}
.e48_201 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_201 {
  width: 200px;
  height: 250.00001525878906px;
  position: absolute;
  left: 714px;
  top: 0.49615478515625px;
  background-image: url(images/image_37.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_113 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_113 {
  width: 200px;
  height: 250px;
  position: absolute;
  left: 476.15234375px;
  top: 0px;
  background-image: url(images/image_25.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_108 {
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: 32px;
  position: absolute;
  left: 496.15234375px;
  top: 269px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_109 {
  color: rgba(255, 255, 255, 1);
  width: 190px;
  height: 32px;
  position: absolute;
  left: 721px;
  top: 269.4962158203125px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_87 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_87 {
  width: 200px;
  height: 250px;
  position: absolute;
  left: 0px;
  top: 330.49609375px;
  background-image: url(images/image_17.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_88 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_88 {
  width: 200px;
  height: 250.00001525878906px;
  position: absolute;
  left: 238px;
  top: 330.49609375px;
  background-image: url(images/image_18.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_91 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_91 {
  width: 200px;
  height: 250.00001525878906px;
  position: absolute;
  left: 476px;
  top: 330.49615478515625px;
  background-image: url(images/image_29.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_92 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_92 {
  width: 199.99998474121094px;
  height: 249.99998474121094px;
  position: absolute;
  left: 952px;
  top: 330.49609375px;
  background-image: url(images/image_21.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_97 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 129px;
  height: 22px;
  position: absolute;
  left: 41px;
  top: 251px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_98 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 290px;
  top: 251.49609375px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_100 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 80px;
  height: 22px;
  position: absolute;
  left: 536px;
  top: 251px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_102 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 79px;
  height: 22px;
  position: absolute;
  left: 776px;
  top: 251.4962158203125px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_103 {
  border: 1px solid rgba(255, 255, 255, 1);
}
.e48_103 {
  width: 62px;
  height: 0px;
  position: absolute;
  left: 755px;
  top: 248.4962158203125px;
}
.e48_104 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 96px;
  height: 22px;
  position: absolute;
  left: 1004px;
  top: 252px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_107 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 48px;
  position: absolute;
  left: 260px;
  top: 273.49609375px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_110 {
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: 32px;
  position: absolute;
  left: 968px;
  top: 272px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_200 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_200 {
  width: 200px;
  height: 250px;
  position: absolute;
  left: 238px;
  top: 0.49615478515625px;
  background-image: url(images/image_36.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_106 {
  color: rgba(255, 255, 255, 1);
  width: 157px;
  height: 33px;
  position: absolute;
  left: 13px;
  top: 273.49609375px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_111 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_111 {
  width: 200.00001525878906px;
  height: 250.00001525878906px;
  position: absolute;
  left: 0px;
  top: 0.49615478515625px;
  background-image: url(images/image_23.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_115 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_115 {
  width: 200px;
  height: 250px;
  position: absolute;
  left: 952px;
  top: 2.49615478515625px;
  background-image: url(images/image_27.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_114 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_114 {
  width: 200px;
  height: 250.00001525878906px;
  position: absolute;
  left: 714px;
  top: 330.49609375px;
  background-image: url(images/image_26.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_73 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 95px;
  height: 21px;
  position: absolute;
  left: 53px;
  top: 582px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_74 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 96px;
  height: 17px;
  position: absolute;
  left: 290px;
  top: 582px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_76 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 80px;
  height: 21px;
  position: absolute;
  left: 523px;
  top: 582px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_78 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 79px;
  height: 21px;
  position: absolute;
  left: 775px;
  top: 582px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_80 {
  color: rgba(255, 223.00000190734863, 0, 1);
  width: 96px;
  height: 21px;
  position: absolute;
  left: 1004px;
  top: 582px;
  font-family: Roboto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_82 {
  color: rgba(255, 255, 255, 1);
  width: 147px;
  height: 32px;
  position: absolute;
  left: 59.15234375px;
  top: 599px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_83 {
  color: rgba(255, 255, 255, 1);
  width: 156px;
  height: 48px;
  position: absolute;
  left: 278.15234375px;
  top: 599px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_84 {
  color: rgba(255, 255, 255, 1);
  width: 134px;
  height: 32px;
  position: absolute;
  left: 503.15234375px;
  top: 599px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_199 {
  color: rgba(255, 255, 255, 1);
  width: 190px;
  height: 32px;
  position: absolute;
  left: 728px;
  top: 599.4962158203125px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_86 {
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: 32px;
  position: absolute;
  left: 968px;
  top: 604px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_120 {
  width: 1154px;
  height: 37.785640716552734px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_121 {
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 169.91989135742188px;
  height: 28.339229583740234px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_122 {
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 84.95994567871094px;
  height: 37.785640716552734px;
  position: absolute;
  left: 127.43976593017578px;
  top: 0px;
}
.e48_123 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 127.75929260253906px;
  height: 21.591785430908203px;
  position: absolute;
  left: 338.5623474121094px;
  top: 28.339229583740234px;
}
.e48_124 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 237.95138549804688px;
  top: 28.339229583740234px;
}
.e48_125 {
  transform: rotate(-5.929259409199296e-15deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 311.41339111328125px;
  top: 6.747471332550049px;
}
.e48_126 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 127.75929260253906px;
  height: 21.591785430908203px;
  position: absolute;
  left: 497.67779541015625px;
  top: 28.339229583740234px;
}
.e48_127 {
  transform: rotate(-179.9999957673398deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 397.0673522949219px;
  top: 28.339229583740234px;
}
.e48_128 {
  transform: rotate(-5.929259409199296e-15deg);
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 54.297706604003906px;
  height: 21.5917911529541px;
  position: absolute;
  left: 470.5293273925781px;
  top: 6.747471332550049px;
}
.e48_129 {
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: 23px;
  position: absolute;
  left: 34px;
  top: 4px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_130 {
  color: rgba(255, 255, 255, 1);
  width: 86px;
  height: 23px;
  position: absolute;
  left: 239px;
  top: 9px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_131 {
  color: rgba(255, 255, 255, 1);
  width: 94px;
  height: 23px;
  position: absolute;
  left: 394px;
  top: 9px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e80_13 {
  background-color: rgba(0, 132.599995136261, 255, 1);
  width: 90px;
  height: 24px;
  position: absolute;
  left: 1064px;
  top: 4px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
}
.e48_133 {
  color: rgba(255, 255, 255, 1);
  width: 79px;
  height: 17px;
  position: absolute;
  left: 1075px;
  top: 7px;
  font-family: Roboto;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.e48_5 {
  width: 1923px;
  height: 1014.980224609375px;
  position: absolute;
  left: -3.00048828125px;
  top: 0px;
}
.e48_7 {
  background-color: rgba(255, 255, 255, 1);
  width: 1923px;
  height: 118px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_31 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_31 {
  width: 332.82672119140625px;
  height: 167.29290771484375px;
  position: absolute;
  left: 972.5125732421875px;
  top: 537.515380859375px;
  background-image: url(images/rectangle_12.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_38 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_38 {
  width: 355.81475830078125px;
  height: 883.980224609375px;
  position: absolute;
  left: 164.00048828125px;
  top: 131px;
  background-image: url(images/image_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_39 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_39 {
  width: 673.649169921875px;
  height: 384.08099365234375px;
  position: absolute;
  left: 595.6897583007812px;
  top: 129.6767578125px;
  background-image: url(images/image_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_40 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_40 {
  width: 382.800537109375px;
  height: 184.33349609375px;
  position: absolute;
  left: 1291.327392578125px;
  top: 130.66650390625px;
  background-image: url(images/image_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_41 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_41 {
  width: 382.800537109375px;
  height: 187.09100341796875px;
  position: absolute;
  left: 1291.327392578125px;
  top: 326.666748046875px;
  background-image: url(images/image_4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_42 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_42 {
  width: 337px;
  height: 167px;
  position: absolute;
  left: 600.00048828125px;
  top: 538px;
  background-image: url(images/image_6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_53 {
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.e48_53 {
  width: 331px;
  height: 167px;
  position: absolute;
  left: 1343.00048828125px;
  top: 538px;
  background-image: url(images/image_5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_8 {
  width: 1411.639892578125px;
  height: 93.18173217773438px;
  position: absolute;
  left: 236px;
  top: 11.87890625px;
}
.e48_9 {
  width: 205.89276123046875px;
  height: 92.06063842773438px;
  position: absolute;
  left: 0px;
  top: 1.12109375px;
}
.e48_10 {
  background-color: rgba(
    219.0000021457672,
    67.00000360608101,
    67.00000360608101,
    1
  );
  width: 205.89276123046875px;
  height: 92.06063842773438px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_10 {
  border: 2px solid rgba(0, 0, 0, 1);
}
.e48_11 {
  color: rgba(255, 255, 255, 1);
  width: 92.95156860351562px;
  height: 41.57577133178711px;
  position: absolute;
  left: 56.970428466796875px;
  top: 21.778564453125px;
  font-family: Roboto;
  text-align: left;
  font-size: 36px;
  letter-spacing: 0;
}
.e48_12 {
  width: 823.671875px;
  height: 44.54547119140625px;
  position: absolute;
  left: 248.74563598632812px;
  top: 0px;
}
.e48_13 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 823.671875px;
  height: 44.54547119140625px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_14 {
  background-color: rgba(
    235.0000011920929,
    235.0000011920929,
    235.0000011920929,
    1
  );
  width: 823.671875px;
  height: 44.54547119140625px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_15 {
  border: 2px solid rgba(255, 29.000000171363354, 29.000000171363354, 1);
}
.e48_15 {
  width: 821.6729736328125px;
  height: 42.565670013427734px;
  position: absolute;
  left: 0.999359130859375px;
  top: 0.9890155792236328px;
}
.e48_16 {
  background-color: rgba(
    219.0000021457672,
    67.00000360608101,
    67.00000360608101,
    1
  );
  width: 42.216552734375px;
  height: 44.54547119140625px;
  position: absolute;
  left: 780.5936279296875px;
  top: 0px;
}
.e48_17 {
  background-color: rgba(
    219.0000021457672,
    67.00000360608101,
    67.00000360608101,
    1
  );
  width: 58.38427734375px;
  height: 44.54547119140625px;
  position: absolute;
  left: 745.5321044921875px;
  top: 0px;
}
.e48_18 {
  color: rgba(103.06250050663948, 103.06250050663948, 103.06250050663948, 1);
  width: 244.8724365234375px;
  height: 20.78788948059082px;
  position: absolute;
  left: 22.631195068359375px;
  top: 10.54468059539795px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_19 {
  transform: rotate(180deg);
  width: 29.6417236328125px;
  height: 32.66667175292969px;
  position: absolute;
  left: 795.2430419921875px;
  top: 5.939208030700684px;
  background-image: url(images/icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.e48_20 {
  width: 150.9215087890625px;
  height: 44.54547119140625px;
  position: absolute;
  left: 1098.303466796875px;
  top: 0px;
}
.e48_21 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 150.9215087890625px;
  height: 44.54547119140625px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_22 {
  background-color: rgba(
    219.0000021457672,
    67.00000360608101,
    67.00000360608101,
    1
  );
  width: 150.9215087890625px;
  height: 44.54547119140625px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_23 {
  border: 1px solid
    rgba(24.000000469386578, 26.000000350177288, 27.000000290572643, 1);
}
.e48_23 {
  width: 149.921875px;
  height: 43.555572509765625px;
  position: absolute;
  left: 0.5px;
  top: 0.494384765625px;
}
.e48_24 {
  color: rgba(255, 255, 255, 1);
  width: 86.955078125px;
  height: 20.78788948059082px;
  position: absolute;
  left: 31.983154296875px;
  top: 10.54468059539795px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
.e48_25 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 149.9219970703125px;
  height: 43.555572509765625px;
  position: absolute;
  left: 1261.7178955078125px;
  top: 0.494384765625px;
}
.e48_26 {
  background-color: rgba(
    219.0000021457672,
    67.00000360608101,
    67.00000360608101,
    1
  );
  width: 149.9219970703125px;
  height: 43.555572509765625px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.e48_26 {
  border: 1px solid
    rgba(24.000000469386578, 26.000000350177288, 27.000000290572643, 1);
}
.e48_27 {
  color: rgba(255, 255, 255, 1);
  width: 64.966064453125px;
  height: 20.78788185119629px;
  position: absolute;
  left: 48.474853515625px;
  top: 10.05029582977295px;
  font-family: Roboto;
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
}
