* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_63 {
  width: 100%;
  height: 1080px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_64 {
  width: 100%;
  height: 1080px;
  background: url("../images/v19_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_65 {
  width: 100%;
  height: 100%;
  background: rgba(24, 26, 27, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_66 {
  width: 100%;
  height: 50px;
  background: rgba(170, 26, 27, 1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 0px;
  border: 1.5px solid rgba(255, 255, 255, 1);
}
.v19_67 {
  width: 100%;
  height: 50px;
  background: url("../images/v19_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 0px;
  overflow: hidden;
}
.v19_68 {
  width: 100%;
  height: 50px;
  background: rgba(27, 30, 31, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_84 {
  width: 100%;
  height: 50px;
  background: url("../images/v19_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 306px;
  left: 0px;
  overflow: hidden;
}
.v19_85 {
  width: 100%;
  height: 50px;
  background: rgba(27, 30, 31, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_86 {
  width: 100%;
  height: 50px;
  background: url("../images/v19_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 406px;
  left: 0px;
  overflow: hidden;
}
.v19_87 {
  width: 100%;
  height: 50px;
  background: rgba(27, 30, 31, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_88 {
  width: 100%;
  height: 50px;
  background: url("../images/v19_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 506px;
  left: 0px;
  overflow: hidden;
}
.v19_89 {
  width: 100%;
  height: 50px;
  background: rgba(27, 30, 31, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_90 {
  width: 100%;
  height: 50px;
  background: url("../images/v19_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 606px;
  left: 0px;
  overflow: hidden;
}
.v19_91 {
  width: 100%;
  height: 50px;
  background: rgba(27, 30, 31, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_92 {
  width: 100%;
  height: 50px;
  background: url("../images/v19_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 706px;
  left: 0px;
  overflow: hidden;
}
.v19_93 {
  width: 100%;
  height: 50px;
  background: rgba(27, 30, 31, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v19_253 {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 806px;
  left: 0px;
}
.v19_256 {
  width: 180px;
  height: 65px;
  background: rgba(170, 26, 27, 1);
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 870px;
  border: 3px solid rgba(255, 255, 255, 1);
}
.v19_257 {
  width: 180px;
  height: 65px;
  background: rgba(170, 26, 27, 1);
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 1590px;
  border: 3px solid rgba(255, 255, 255, 1);
}
.v19_258 {
  width: 180px;
  height: 65px;
  background: rgba(170, 26, 27, 1);
  opacity: 1;
  position: absolute;
  top: 853px;
  left: 151px;
  border: 3px solid rgba(255, 255, 255, 1);
}
.v19_259 {
  width: 83px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 873px;
  left: 200px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v19_260 {
  width: 161px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 873px;
  left: 880px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v19_261 {
  width: 152px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 873px;
  left: 1605px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v19_281 {
  width: 151px;
  height: 50px;
  background: rgba(247, 56, 56, 1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 1769px;
}
.v19_282 {
  width: 24px;
  height: 24px;
  background: url("../images/v19_282.png");
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 1881px;
}
.v19_283 {
  width: 80px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 117px;
  left: 1790px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v42_2 {
  width: 120px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 169px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_10 {
  width: 416px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 109px;
  left: 50px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_3 {
  width: 133px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 219px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_4 {
  width: 58px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 269px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_5 {
  width: 64px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 319px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_6 {
  width: 57px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 369px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_7 {
  width: 63px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 419px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_8 {
  width: 117px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 469px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_11 {
  width: 102px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 569px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_12 {
  width: 192px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 619px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_14 {
  width: 110px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 668px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_15 {
  width: 99px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 719px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_17 {
  width: 104px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 769px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v42_9 {
  width: 88px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 517px;
  left: 44px;
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v79_13 {
  width: 147px;
  height: 42px;
  background: url("../images/v79_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 610px;
  left: 378px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v79_15 {
  width: 147px;
  height: 42px;
  background: url("../images/v79_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 610px;
  left: 667px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v79_18 {
  width: 147px;
  height: 42px;
  background: url("../images/v79_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 659px;
  left: 378px;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  overflow: hidden;
}
.v79_21 {
  width: 147px;
  height: 42px;
  background: url("../images/v79_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 378px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  overflow: hidden;
}
.v79_24 {
  width: 170px;
  height: 42px;
  background: url("../images/v79_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 160px;
  left: 378px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  overflow: hidden;
}
.v79_27 {
  width: 169px;
  height: 42px;
  background: url("../images/v79_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 378px;
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  overflow: hidden;
}
.v79_30 {
  width: 112px;
  height: 42px;
  background: url("../images/v79_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 378px;
  border-top-left-radius: 49px;
  border-top-right-radius: 49px;
  border-bottom-left-radius: 49px;
  border-bottom-right-radius: 49px;
  overflow: hidden;
}
.v79_33 {
  width: 112px;
  height: 42px;
  background: url("../images/v79_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 378px;
  border-top-left-radius: 49px;
  border-top-right-radius: 49px;
  border-bottom-left-radius: 49px;
  border-bottom-right-radius: 49px;
  overflow: hidden;
}
.v79_36 {
  width: 109px;
  height: 42px;
  background: url("../images/v79_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 360px;
  left: 378px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v79_40 {
  width: 112px;
  height: 42px;
  background: url("../images/v79_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 410px;
  left: 378px;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px;
  overflow: hidden;
}
.v79_43 {
  width: 126px;
  height: 42px;
  background: url("../images/v79_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 378px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v79_46 {
  width: 141px;
  height: 42px;
  background: url("../images/v79_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 378px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v79_49 {
  width: 145px;
  height: 42px;
  background: url("../images/v79_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 560px;
  left: 378px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  overflow: hidden;
}
.v79_52 {
  width: 150px;
  height: 42px;
  background: url("../images/v79_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 760px;
  left: 378px;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v42_49 {
  width: 100%;
  height: 1080px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_50 {
  width: 100%;
  height: 1080px;
  background: url("../images/v42_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v42_51 {
  width: 100%;
  height: 100%;
  background: rgba(24, 26, 27, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v42_55 {
  width: 315px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  left: 802px;
  text-shadow: 0px 4px 4px rgba(1, 0, 0, 1);
  font-family: Times New Roman;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v42_58 {
  width: 100%;
  background: url("../images/v42_58.png");
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 100px;
  border: 3px solid rgba(255, 255, 255, 1);
}
.v42_59 {
  width: 100%;
  background: url("../images/v42_59.png");
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 100px;
  border: 3px solid rgba(255, 255, 255, 1);
}
.v42_88 {
  width: 100%;
  background: url("../images/v42_88.png");
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 100px;
  border: 3px solid rgba(255, 255, 255, 1);
}
.v42_87 {
  width: 100%;
  height: 205px;
  background: url("../images/v42_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 209px;
  left: 100px;
  overflow: hidden;
}
.v42_70 {
  width: 100%;
  height: 80px;
  background: rgba(247, 56, 56, 1);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 100px;
}
.v42_71 {
  width: 80px;
  height: -1px;
  background: url("../images/v42_71.png");
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 960px;
  border: 3px solid rgba(255, 255, 255, 1);
  transform: rotate(-89deg);
}
.v42_85 {
  width: 283px;
  height: -1px;
  background: url("../images/v42_85.png");
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 100px;
  border: 3px solid rgba(255, 255, 255, 1);
  transform: rotate(-89deg);
}
.v42_73 {
  width: 80px;
  height: -1px;
  background: url("../images/v42_73.png");
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 1290px;
  border: 3px solid rgba(255, 255, 255, 1);
  transform: rotate(-89deg);
}
.v42_74 {
  width: 80px;
  height: -1px;
  background: url("../images/v42_74.png");
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 1492px;
  border: 3px solid rgba(255, 255, 255, 1);
  transform: rotate(-89deg);
}
.v42_75 {
  width: 284px;
  background: url("../images/v42_75.png");
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 1820px;
  border: 3px solid rgba(255, 255, 255, 1);
  transform: rotate(-89deg);
}
.v42_76 {
  width: 46px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 156px;
  left: 1094px;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v42_77 {
  width: 128px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 156px;
  left: 1328px;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v42_78 {
  width: 71px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 156px;
  left: 1595px;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v42_84 {
  width: 128px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 156px;
  left: 466px;
  font-family: Times New Roman;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v48_4 {
  width: 100%;
  height: 2160px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_6 {
  width: 100%;
  height: 100%;
  background: rgba(24, 26, 27, 1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v80_12 {
  width: 100%;
  height: 353px;
  background: url("../images/v80_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 726px;
  left: 596px;
  overflow: hidden;
}
.v48_54 {
  width: 95px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 289px;
  left: 85px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_55 {
  width: 96px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 289px;
  left: 296px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_56 {
  width: 67px;
  background: url("../images/v48_56.png");
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 282px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_57 {
  width: 79px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 289px;
  left: 504px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_58 {
  width: 51px;
  background: url("../images/v48_58.png");
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 486px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_59 {
  width: 79px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 289px;
  left: 738px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_60 {
  width: 60px;
  background: url("../images/v48_60.png");
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 718px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_61 {
  width: 95px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 289px;
  left: 925px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_62 {
  width: 61px;
  background: url("../images/v48_62.png");
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 902px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_63 {
  width: 143px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 305px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_64 {
  width: 152px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 305px;
  left: 265px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_65 {
  width: 131px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 305px;
  left: 475px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_66 {
  width: 185px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 305px;
  left: 675px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_67 {
  width: 176px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 308px;
  left: 877px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_68 {
  width: 183px;
  height: 232px;
  background: url("../images/v48_68.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 33px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_69 {
  width: 185px;
  height: 232px;
  background: url("../images/v48_69.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 245px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_70 {
  width: 186px;
  height: 232px;
  background: url("../images/v48_70.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 456px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_71 {
  width: 186px;
  height: 232px;
  background: url("../images/v48_71.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 668px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_72 {
  width: 186px;
  height: 232px;
  background: url("../images/v48_72.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 870px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_43 {
  width: 61px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 278px;
  left: 69px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v48_44 {
  width: 61px;
  background: url("../images/v48_44.png");
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 68px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_45 {
  width: 68px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 278px;
  left: 282px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v48_46 {
  width: 51px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 278px;
  left: 482px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v48_47 {
  width: 61px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 278px;
  left: 715px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v48_48 {
  width: 61px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 278px;
  left: 900px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v48_49 {
  width: 14px;
  height: 60px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 0px;
}
.v48_50 {
  width: 14px;
  height: 60px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 133px;
  left: 1065px;
}
.v48_51 {
  width: 288px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 364px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v48_52 {
  width: 724px;
  background: url("../images/v48_52.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 164px;
  border: 3px solid rgba(255, 255, 255, 1);
}
.v80_10 {
  width: 100%;
  height: 353px;
  background: url("../images/v80_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1799px;
  left: 405px;
  overflow: hidden;
}
.v80_11 {
  width: 100%;
  height: 308px;
  background: url("../images/v80_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 0px;
  overflow: hidden;
}
.v48_134 {
  width: 119px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 252px;
  left: 38px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_135 {
  width: 96px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 253px;
  left: 279px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_136 {
  width: 69px;
  background: url("../images/v48_136.png");
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 196px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_137 {
  width: 113px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 254px;
  left: 520px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_138 {
  width: 53px;
  background: url("../images/v48_138.png");
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 404px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_139 {
  width: 112px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 253px;
  left: 758px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_140 {
  width: 62px;
  background: url("../images/v48_140.png");
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 721px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_141 {
  width: 96px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 254px;
  left: 1004px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_142 {
  width: 63px;
  background: url("../images/v48_142.png");
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 939px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_143 {
  width: 173px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 275px;
  left: 11px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_145 {
  width: 164px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 271px;
  left: 496px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_191 {
  width: 164px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 274px;
  left: 256px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_146 {
  width: 190px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 275px;
  left: 728px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_147 {
  width: 181px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 274px;
  left: 968px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_148 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_148.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_149 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_149.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 238px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_150 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_150.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 476px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_151 {
  width: 199px;
  height: 250px;
  background: url("../images/v48_151.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 714px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_152 {
  width: 199px;
  height: 249px;
  background: url("../images/v48_152.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 952px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_157 {
  width: 100%;
  height: 37px;
  background: url("../images/v48_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_158 {
  width: 169px;
  height: 28px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v48_160 {
  width: 127px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 339px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v48_161 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 238px;
  transform: rotate(-179deg);
}
.v48_162 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 312px;
}
.v48_163 {
  width: 127px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 498px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v48_166 {
  width: 168px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 4px;
  left: 23px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_167 {
  width: 87px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 249px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_168 {
  width: 94px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 404px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_171 {
  width: 127px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 657px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v48_172 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 557px;
  transform: rotate(-179deg);
}
.v48_173 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 630px;
}
.v48_174 {
  width: 94px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 564px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_175 {
  width: 127px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 816px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v48_176 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 716px;
  transform: rotate(-179deg);
}
.v48_177 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 789px;
}
.v48_178 {
  width: 94px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 723px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_179 {
  width: 127px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 975px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v48_180 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 875px;
  transform: rotate(-179deg);
}
.v48_181 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 948px;
}
.v48_182 {
  width: 94px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 11px;
  left: 882px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_164 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 398px;
  transform: rotate(-179deg);
}
.v48_165 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 471px;
}
.v48_169 {
  width: 90px;
  height: 24px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 1064px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  overflow: hidden;
}
.v48_170 {
  width: 90px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 11px;
  left: 1077px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v80_8 {
  width: 100%;
  height: 695px;
  background: url("../images/v80_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1104px;
  left: 405px;
  overflow: hidden;
}
.v80_9 {
  width: 100%;
  height: 647px;
  background: url("../images/v80_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v48_201 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_201.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 714px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_113 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_113.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 477px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_108 {
  width: 134px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 269px;
  left: 497px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_109 {
  width: 190px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 269px;
  left: 721px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_87 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_87.png");
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 0px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_88 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_88.png");
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 238px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_91 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_91.png");
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 476px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_92 {
  width: 199px;
  height: 249px;
  background: url("../images/v48_92.png");
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 952px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_97 {
  width: 129px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 251px;
  left: 41px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_98 {
  width: 96px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 251px;
  left: 290px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_100 {
  width: 80px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 251px;
  left: 536px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_102 {
  width: 79px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 251px;
  left: 776px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_103 {
  width: 62px;
  background: url("../images/v48_103.png");
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 755px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.v48_104 {
  width: 96px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 252px;
  left: 1004px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_107 {
  width: 156px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 273px;
  left: 260px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_110 {
  width: 181px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 272px;
  left: 968px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_200 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_200.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 238px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_106 {
  width: 157px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 273px;
  left: 13px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_111 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_111.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_115 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_115.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 952px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_114 {
  width: 200px;
  height: 250px;
  background: url("../images/v48_114.png");
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 714px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_73 {
  width: 95px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 582px;
  left: 53px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_74 {
  width: 96px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 582px;
  left: 290px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_76 {
  width: 80px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 582px;
  left: 523px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_78 {
  width: 79px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 582px;
  left: 775px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_80 {
  width: 96px;
  color: rgba(255, 223, 0, 1);
  position: absolute;
  top: 582px;
  left: 1004px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v48_82 {
  width: 147px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 599px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_83 {
  width: 156px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 599px;
  left: 279px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_84 {
  width: 134px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 599px;
  left: 504px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_199 {
  width: 190px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 599px;
  left: 728px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_86 {
  width: 181px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 604px;
  left: 968px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_120 {
  width: 100%;
  height: 37px;
  background: url("../images/v48_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_121 {
  width: 169px;
  height: 28px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v48_123 {
  width: 127px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 339px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v48_124 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 238px;
  transform: rotate(-179deg);
}
.v48_125 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 312px;
}
.v48_126 {
  width: 127px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 498px;
  transform: rotate(-179deg);
  overflow: hidden;
}
.v48_127 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 398px;
  transform: rotate(-179deg);
}
.v48_128 {
  width: 54px;
  height: 21px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 471px;
}
.v48_129 {
  width: 109px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 4px;
  left: 34px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_130 {
  width: 86px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 9px;
  left: 239px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_131 {
  width: 94px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 9px;
  left: 394px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v80_13 {
  width: 90px;
  height: 24px;
  background: rgba(0, 132, 255, 1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1064px;
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  overflow: hidden;
}
.v48_133 {
  width: 79px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7px;
  left: 1075px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v48_5 {
  width: 100%;
  height: 1014px;
  background: url("../images/v48_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v48_7 {
  width: 100%;
  height: 118px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v48_31 {
  width: 332px;
  height: 167px;
  background: url("../images/v48_31.png");
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 972px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_38 {
  width: 355px;
  height: 883px;
  background: url("../images/v48_38.png");
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 164px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_39 {
  width: 673px;
  height: 384px;
  background: url("../images/v48_39.png");
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 595px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_40 {
  width: 382px;
  height: 184px;
  background: url("../images/v48_40.png");
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 1291px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_41 {
  width: 382px;
  height: 187px;
  background: url("../images/v48_41.png");
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 1291px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_42 {
  width: 337px;
  height: 167px;
  background: url("../images/v48_42.png");
  opacity: 1;
  position: absolute;
  top: 538px;
  left: 600px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_53 {
  width: 331px;
  height: 167px;
  background: url("../images/v48_53.png");
  opacity: 1;
  position: absolute;
  top: 538px;
  left: 1343px;
  border: 1.5px solid rgba(255, 0, 0, 1);
}
.v48_8 {
  width: 100%;
  height: 93px;
  background: url("../images/v48_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 236px;
  overflow: hidden;
}
.v48_9 {
  width: 205px;
  height: 92px;
  background: url("../images/v48_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v48_10 {
  width: 205px;
  height: 92px;
  background: rgba(219, 67, 67, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(0, 0, 0, 0.36000001430511475);
}
.v48_11 {
  width: 92px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21px;
  left: 56px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v48_12 {
  width: 823px;
  height: 44px;
  background: url("../images/v48_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 248px;
  overflow: hidden;
}
.v48_13 {
  width: 823px;
  height: 44px;
  background: url("../images/v48_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v48_14 {
  width: 823px;
  height: 44px;
  background: rgba(235, 235, 235, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v48_15 {
  width: 821px;
  height: 42px;
  background: url("../images/v48_15.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(255, 29, 29, 1);
}
.v48_16 {
  width: 42px;
  height: 44px;
  background: rgba(219, 67, 67, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 780px;
}
.v48_17 {
  width: 58px;
  height: 44px;
  background: rgba(219, 67, 67, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 745px;
}
.v48_18 {
  width: 244px;
  color: rgba(103, 103, 103, 1);
  position: absolute;
  top: 10px;
  left: 22px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_19 {
  width: 29px;
  height: 32px;
  background: url("../images/v48_19.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 795px;
}
.v48_20 {
  width: 150px;
  height: 44px;
  background: url("../images/v48_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1098px;
  overflow: hidden;
}
.v48_21 {
  width: 150px;
  height: 44px;
  background: url("../images/v48_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v48_22 {
  width: 150px;
  height: 44px;
  background: rgba(219, 67, 67, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v48_23 {
  width: 149px;
  height: 43px;
  background: url("../images/v48_23.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(24, 26, 27, 1);
}
.v48_24 {
  width: 86px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 31px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v48_25 {
  width: 149px;
  height: 43px;
  background: url("../images/v48_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1261px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v48_26 {
  width: 149px;
  height: 43px;
  background: rgba(219, 67, 67, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(24, 26, 27, 1);
}
.v48_27 {
  width: 64px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 48px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
