<!DOCTYPE html>
<html lang="en">
<% include partials\header %>

    <body>
        <% include partials\header1 %>
            <%- body -%>
                <%- include partials/footer1 %>
    </body>

</html>